<header><h2>Cadastre um Diretor</h2></header>
<section>
    <%= render partial: 'form', locals: { director: @director } %>
</section>
<footer>
    <p>&copy;<a href="https://www.linkedin.com/in/marcos-grocha/" target="_blank"> marcos-grocha</a></p>
</footer>