<header><h1><%= @director.name %></h1></header>
<section>
    <%= button_to 'Editar', edit_director_path, method: :get, class: "small" %> 
    <h3>Filmes dirigidos:</h3>
    <% @movies.each do |movie| %>
        <%= button_to movie.title, movie_path(movie), method: :get, class: "medium" %> (<%= movie.release_year %>)
    <% end %>
</section>
<footer>
    <p>&copy;<a href="https://www.linkedin.com/in/marcos-grocha/" target="_blank"> marcos-grocha</a></p>
</footer>